
/*thanks to Carla Notarobot for tips on the background animation. https://www.youtube.com/@givemeabreak2469*/
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -1;
}

.stars {
  background:#000 url('../data/stars.png') repeat top center;
}

.twinkling{
  background:transparent url('../data/twinkling.png') repeat top center;
  animation:move-twink-back 200s linear infinite;
}
