.filters-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 300px;
  border: 1px solid red;
  padding: 5px;
}

.input-elements {
  background-color: #111;
  color: yellow;
  width: 6rem;
  border-radius: 10px;
  height: 2rem;
  /* margin-top: 5px; */
}

#order-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* width: 50%; */
}

#number-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: rgb(44, 42, 42);
  color: yellow;
  min-width: 6rem;
  border-radius: 5px;
  padding: 3px;
}

#value-filter {
  width: 5.5rem;
  height: 1.5rem;
}

#filter-btn {
  justify-self: center
}

#order-btn {}

#remove-btn {
  position: fixed;
  height: 1.8rem;
  width: 100%;
  bottom: 0;
}
