.filters-div {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 5px;
}

.filter-selectors-container {
  display: flex;
  justify-content: space-around;
}

.input-elements {
  background-color: #111;
  color: yellow;
  width: 6rem;
  border-radius: 10px;
  height: 2rem;
}

#order-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#number-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

button {
  background-color: rgb(44, 42, 42);
  color: yellow;
  min-width: 6rem;
  border-radius: 5px;
  padding: 3px;
}

#value-filter {
  width: 5.5rem;
  height: 1.5rem;
}

#remove-btn {
  position: fixed;
  height: 1.8rem;
  width: 98%;
  margin: 0 auto;
  bottom: 0;
  z-index: 1;
}

#active-filters-container {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  max-width: 150%;
}

.active-filter {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-between;
  min-height: 20%;
}

#active-filter-name {
  color: #fff;
  opacity: 40%;
}

#active-filter-value {
  color: yellow;
  opacity: 60%;
}