.input-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

h1 {
  color: yellow;
}

#nameInput {
  color: #fff;
  background-color: #111;
}

#swlogo {
  width: 10rem;
}
