.header-div {
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: yellow;
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

#nameInput {
  background-color: #111;
  color: yellow;
  width: 100%;
  border-radius: 10px;
  height: 2rem;
  margin-top: 5px;
}

#swlogo {
  width: 10rem;
  margin-top: 1rem;
}
