.table {
  table-layout: fixed;
  width: 100%;
}

td {
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: black;
  color: yellow;
  text-align: center;
  word-wrap: break-word;
}

