.table-div {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  table-layout: fixed;
  width: 350%;
  border: 1px solid red;
  background-color: #111;
}

td {
  text-align: center;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #1d1d1d;
}

th {
  background-color: #1d1d1d;
  color: yellow;
  text-align: center;
  word-wrap: break-word;
}

