.loading-div {
  background-color: rgb(44, 42, 42);
  min-height: 380px;
  position: relative;
}

h1 {
  color: #333;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 26px;
  font-weight: 200;
  margin: 40px 0 15px;
  text-align: center;
}

p {
  color: #666;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
  margin: 10px 0;
  text-align: center;
}

p a {
  color: #666;
  font-weight: 700;
  text-decoration: none;
}

p a:hover {
  color: #608a00;
}

#loader {
  height: 40px;
  left: 50%;
  margin: -20px -40px;
  position: absolute;
  top: 50%;
  width: 80px;
  z-index: 1000;

}

.lightsaber {
  background-color: #666;
  border-radius: 1px;
  bottom: 0;
  height: 12px;
  position: absolute;
  width: 4px;
}

.lightsaber.ls-left {
  animation: fightleft 2s ease-in-out infinite 1s;
  left: 0;
}

.lightsaber.ls-right {
  animation: fightright 2s ease-in-out infinite 1s;
  right: 0;
}

.lightsaber:before {
  background-color: white;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 25px;
  left: 1px;
  max-height: 1px;
  position: absolute;
  top: 1px;
  transform: rotateZ(180deg);
  transform-origin: center top;
  width: 2px;
}

.lightsaber:after {
  background-color: white;
  border-radius: 50%;
  content: ' ';
  display: block;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 2px;
}

.ls-particles {
  background-color: rgb(51, 51, 51, 0);
  height: 5px;
  left: 42px;
  position: absolute;
  top: 10px;
  transform: rotateZ(0deg);
  width: 1px;
}


.lightsaber.ls-green:before {
  animation: showlightgreen 2s ease-in-out infinite 1s;
}

.lightsaber.ls-red:before {
  animation: showlightred 2s ease-in-out infinite 1s;
}

.ls-particles.ls-part-1 {
  animation: particles1 2s ease-out infinite 1s;
}

.ls-particles.ls-part-2 {
  animation: particles2 2s ease-out infinite 1s;
}

.ls-particles.ls-part-3 {
  animation: particles3 2s ease-out infinite 1s;
}

.ls-particles.ls-part-4 {
  animation: particles4 2s ease-out infinite 1s;
}

.ls-particles.ls-part-5 {
  animation: particles5 2s ease-out infinite 1s;
}

@keyframes showlightgreen {

  0% {
    box-shadow: 0 0 0 0 #87c054;
    max-height: 0;
  }

  5% {
    box-shadow: 0 0 4px 2px #87c054;
  }

  10% {
    max-height: 22px;
  }

  80% {
    max-height: 22px;
  }

  85% {
    box-shadow: 0 0 4px 2px #87c054;
  }

  100% {
    box-shadow: 0 0 0 0 #87c054;
    max-height: 0;
  }
}

@keyframes showlightred {

  0% {
    box-shadow: 0 0 0 0 #f06363;
    max-height: 0;
  }

  20% {
    box-shadow: 0 0 4px 2px #f06363;
  }

  25% {
    max-height: 22px;
  }

  80% {
    max-height: 22px;
  }

  85% {
    box-shadow: 0 0 4px 2px #f06363;
  }

  100% {
    box-shadow: 0 0 0 0 #f06363;
    max-height: 0;
  }
}

@keyframes fightleft {

  0% {
    bottom: 0;
    left: 0;
    transform: rotateZ(0deg);
  }

  30% {
    bottom: 0;
    transform: rotateZ(0deg);
  }

  40% {
    bottom: 2px;
    left: 0;
    transform: rotateZ(45deg);
  }

  45% {
    left: 0;
    transform: rotateZ(65deg);
  }

  65% {
    bottom: 10px;
    left: 30px;
    transform: rotateZ(410deg);
  }

  95% {
    bottom: 0;
    left: 0;
    transform: rotateZ(410deg);
  }

  100% {
    bottom: 0;
    left: 0;
    transform: rotateZ(360deg);
  }
}

@keyframes fightright {

  0% {
    bottom: 0;
    right: 0;
    transform: rotateZ(0deg);
  }

  30% {
    bottom: 0;
    transform: rotateZ(0deg);
  }

  45% {
    bottom: 2px;
    right: 0;
    transform: rotateZ(-45deg);
  }

  50% {
    right: 0;
    transform: rotateZ(-65deg);
  }

  68% {
    bottom: 13px;
    right: 27px;
    transform: rotateZ(-410deg);
  }

  95% {
    bottom: 0;
    right: 0;
    transform: rotateZ(-410deg);
  }

  100% {
    bottom: 0;
    right: 0;
    transform: rotateZ(-360deg);
  }
}

@keyframes particles1 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(35deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(35deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(35deg) translateY(0);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(35deg) translateY(-30px);
  }
}

@keyframes particles2 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(-65deg) translateY(0);
  }

  95% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(-40px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(-40px);
  }
}

@keyframes particles3 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(-75deg) translateY(0);
  }

  97% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(-35px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(-35px);
  }
}

@keyframes particles4 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(-25deg) translateY(0);
  }

  97% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(-30px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(-30px);
  }
}

@keyframes particles5 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(65deg) translateY(0);
  }

  97% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(-35px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(-35px);
  }
}

@keyframes showlightgreen {

  0% {
    box-shadow: 0 0 0 0 #87c054;
    max-height: 0;
  }

  5% {
    box-shadow: 0 0 4px 2px #87c054;
  }

  10% {
    max-height: 22px;
  }

  80% {
    max-height: 22px;
  }

  85% {
    box-shadow: 0 0 4px 2px #87c054;
  }

  100% {
    box-shadow: 0 0 0 0 #87c054;
    max-height: 0;
  }
}

@keyframes showlightred {

  0% {
    box-shadow: 0 0 0 0 #f06363;
    max-height: 0;
  }

  20% {
    box-shadow: 0 0 4px 2px #f06363;
  }

  25% {
    max-height: 22px;
  }

  80% {
    max-height: 22px;
  }

  85% {
    box-shadow: 0 0 4px 2px #f06363;
  }

  100% {
    box-shadow: 0 0 0 0 #f06363;
    max-height: 0;
  }
}

@keyframes fightleft {

  0% {
    bottom: 0;
    left: 0;
    transform: rotateZ(0deg);
  }

  30% {
    bottom: 0;
    transform: rotateZ(0deg);
  }

  40% {
    bottom: 2px;
    left: 0;
    transform: rotateZ(45deg);
  }

  45% {
    left: 0;
    transform: rotateZ(65deg);
  }

  65% {
    bottom: 10px;
    left: 30px;
    transform: rotateZ(410deg);
  }

  95% {
    bottom: 0;
    left: 0;
    transform: rotateZ(410deg);
  }

  100% {
    bottom: 0;
    left: 0;
    transform: rotateZ(360deg);
  }
}

@keyframes fightright {

  0% {
    bottom: 0;
    right: 0;
    transform: rotateZ(0deg);
  }

  30% {
    bottom: 0;
    transform: rotateZ(0deg);
  }

  45% {
    bottom: 2px;
    right: 0;
    transform: rotateZ(-45deg);
  }

  50% {
    right: 0;
    transform: rotateZ(-65deg);
  }

  68% {
    bottom: 13px;
    right: 27px;
    transform: rotateZ(-410deg);
  }

  95% {
    bottom: 0;
    right: 0;
    transform: rotateZ(-410deg);
  }

  100% {
    bottom: 0;
    right: 0;
    transform: rotateZ(-360deg);
  }
}

@keyframes particles1 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(35deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(35deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(35deg) translateY(0);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(35deg) translateY(-30px);
  }
}

@keyframes particles2 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(-65deg) translateY(0);
  }

  95% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(-40px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-65deg) translateY(-40px);
  }
}

@keyframes particles3 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(-75deg) translateY(0);
  }

  97% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(-35px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-75deg) translateY(-35px);
  }
}

@keyframes particles4 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(-25deg) translateY(0);
  }

  97% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(-30px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(-25deg) translateY(-30px);
  }
}

@keyframes particles5 {

  0% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(0);
  }

  63% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(0);
  }

  64% {
    background-color: rgba(51, 51, 51, 1);
    transform: rotateZ(65deg) translateY(0);
  }

  97% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(-35px);
  }

  100% {
    background-color: rgba(51, 51, 51, 0);
    transform: rotateZ(65deg) translateY(-35px);
  }
}
